* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    height: 100%;

}
#main{


}

li{
    border: 1px solid;
    list-style-type: none;
}

li:hover:not(:first-child):not(:last-child){
    background-color: #f3f36b;
}



li:nth-child(odd){
    background-color: #808080;
}

li:first-child,
li:last-child{
    background-color: #000000;
    color: #ffffff;
}